
.mainWrapper {

    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;

}
  
  .contentWrapper {
    height: 90%;
    width: 90%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    align-content: center;
    justify-content: center;
  }
  