

.gridGallery  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 30px;

    max-width: 100%;
    place-items: center;
}

.gridGallery img {

  width: 100%;
  height: 100%;
  padding: 20px;
  transition: 0.5s ease-in-out;

}

.gridGallery img:hover {
    transform: scale(1.1);
}





@media screen and (max-width: 991px) {
  .gridGallery {
    grid-template-columns: repeat(2,1fr);
   
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridGallery {
    grid-template-columns: repeat(1,1fr);

  }
}
