


.ProjectHeader {
    display: flex;
    padding: 20px;
    height: 550px;

    /* align-items: center; */

}

.details {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #F2F2F7;
    width: 35%;
    justify-content: center;
}

.ProjectHeading {
    font-family:  "yeseva one";
    font-size: 4rem;
}

.ProjectCity {
    font-weight: 600;
}

.viewGallery {
    padding: 1rem 2rem;
    border-radius: 100px;
    
}



.slider {
    width: 65%;
    height: 100%;
    /* overflow: hidden; */
}

.carousel-item {
    height: 550px;
}

@media (max-width : 1280px) {   
        .ProjectHeading {
            font-size : 3rem;
        }
        .ProjectCity {
            font-size: 1.5rem;
        }

}

@media (max-width : 991px) {
    .ProjectHeader {
        flex-direction: column-reverse;
        height: auto;
    }

    .slider {
        width: 100%;
    }

    .details {
        width: 100%;
    }
}


@media (max-width : 480px ) {
    .ProjectHeader {
        padding: 5px;
    }

    .slider {
        height: 50% ;
    }

    .carousel-item {
        height: 50%;
    }

    .ProjectHeading {
        font-size: 2.5rem;
    }

    .ProjectCity {
        font-size: 1.5rem;
    }


}