



#HomeProject {
    padding: 50px;

    padding-top: 100px;

}

#HomeProjectHeading {
    font-family: 'yeseva one';
    font-size: 4rem;
    text-align: center;
    padding: 40px 0px;
    color: #198754;
    
}

.HomeProjectsCardsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    place-items: center;
    padding: 30px;


}

.card {
    width: 90%;
}


.card-img-top {
    height: 18rem;
}

.card-title {
    font-size: 2rem;
    font-family: "yeseva one";
    color: #198754

}

.cardBtn {

    padding: 0.7rem;
    border-radius: 10px;
}

.viewAllDiv {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.ViewAll {

    font-size: 1.5rem;

    border-radius: 100px;
    padding: 1rem 2rem;
}


@media (max-width : 991px) {
    
    #HomeProjectHeading {
        font-size: 3rem;
        
    }

    .HomeProjectsCardsContainer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width : 480px) {

    #HomeProject {
        padding: 10px;
    }

    #HomeProjectHeading {
        font-size: 2.5rem;
        padding: 20px;
    }

    .HomeProjectsCardsContainer  {
        grid-template-columns: repeat(1,1fr);
    }


    .card {
        width: 100%;
    }
}